/* * * * * * * *\
	DLG_EN-US.RC -
		Copyright (c) 2024 Vortesys, Brady McDermott
	LANGUAGE -
		English, US
	CREDITS -
		freedom7341
	DESCRIPTION -
		This file contains the language-specific dialogs
		for Program Manager.
	LICENSE INFORMATION -
		MIT License, see LICENSE.txt in the root folder
\* * * * * * * */

/* Necessary Evil */
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#define STRICT
#include <CommCtrl.h>
#undef STRICT
#include "resource.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

/* Dialogs */
// Program Group
DLG_GROUP DIALOG 0, 0, 256, 96
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg 2"
CAPTION "Program Group"
{
	EDITTEXT		IDD_NAME, 56, 19, 108, 14, WS_TABSTOP | ES_AUTOHSCROLL, WS_EX_LEFT
	AUTOCHECKBOX	"Create group for all users", IDD_COMMGROUP, 14, 40, 94, 8, WS_TABSTOP | WS_DISABLED, WS_EX_LEFT
	PUSHBUTTON		"Change Icon...", IDD_CHICON, 185, 47, 55, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"OK", IDD_OK, 145, 75, 50, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"Cancel", IDD_CANCEL, 199, 75, 50, 14, WS_TABSTOP, WS_EX_LEFT
	// The following controls shouldn't be directly interacted with.
	CONTROL			"", IDD_STAT_ICON, WC_STATIC, SS_ICON | SS_CENTERIMAGE, 202, 19, 21, 20, WS_EX_LEFT
	LTEXT			"Name:", 32, 16, 22, 22, 9, SS_LEFT, WS_EX_LEFT
	GROUPBOX		"Properties", 33, 7, 7, 162, 61, 0, WS_EX_LEFT
	GROUPBOX		"Icon", 34, 176, 7, 73, 61, 0, WS_EX_LEFT
}

// Program Item
DLG_ITEM DIALOG 0, 0, 256, 167
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg 2"
CAPTION "Program Item"
{
	EDITTEXT		IDD_NAME, 56, 19, 108, 14, WS_TABSTOP | ES_AUTOHSCROLL, WS_EX_LEFT
	EDITTEXT		IDD_PATH, 16, 47, 94, 14, WS_TABSTOP | ES_AUTOHSCROLL, WS_EX_LEFT
	PUSHBUTTON		"Browse...", IDD_BROWSE, 114, 47, 50, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"Change Icon...", IDD_CHICON, 185, 47, 55, 14, WS_TABSTOP, WS_EX_LEFT
	AUTOCHECKBOX	"Use different working directory", IDD_WORKDIR, 14, 87, 111, 8, WS_TABSTOP, WS_EX_LEFT
	EDITTEXT		IDD_WORKPATH, 80, 99, 106, 14, WS_TABSTOP | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
	PUSHBUTTON		"Browse...", IDD_BROWSE2, 190, 99, 50, 14, WS_TABSTOP | WS_DISABLED, WS_EX_LEFT
	CONTROL			"", IDD_HOTKEY, HOTKEY_CLASS, WS_TABSTOP, 56, 117, 184, 14, WS_EX_LEFT
	PUSHBUTTON		"OK", IDD_OK, 145, 146, 50, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"Cancel", IDD_CANCEL, 199, 146, 50, 14, WS_TABSTOP, WS_EX_LEFT
	// The following controls shouldn't be directly interacted with.
	CONTROL			"", IDD_STAT_ICON, WC_STATIC, SS_ICON | SS_CENTERIMAGE, 202, 19, 21, 20, WS_EX_LEFT
	LTEXT			"Name:", 32, 16, 22, 22, 9, SS_LEFT, WS_EX_LEFT
	LTEXT			"Directory:", 34, 16, 37, 31, 9, SS_LEFT, WS_EX_LEFT
	LTEXT			"Hotkey:", 35, 16, 120, 26, 9, SS_LEFT, WS_EX_LEFT
	LTEXT			"Directory:", IDD_STAT_WORKDIR, 26, 102, 31, 9, WS_DISABLED | SS_LEFT, WS_EX_LEFT
	GROUPBOX		"Properties", 36, 7, 7, 162, 61, 0, WS_EX_LEFT
	GROUPBOX		"Icon", 37, 176, 7, 73, 61, 0, WS_EX_LEFT
	GROUPBOX		"Advanced", 38, 7, 75, 242, 64, 0, WS_EX_LEFT
}

// Power and Shutdown
DLG_POWER DIALOG 0, 0, 256, 167
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_SYSMENU | WS_POPUP
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg 2"
CAPTION "Shut Down"
{
	EDITTEXT		IDD_NAME, 56, 19, 108, 14, WS_TABSTOP | ES_AUTOHSCROLL, WS_EX_LEFT
	EDITTEXT		IDD_PATH, 16, 47, 94, 14, WS_TABSTOP | ES_AUTOHSCROLL, WS_EX_LEFT
	PUSHBUTTON		"Browse...", IDD_BROWSE, 114, 47, 50, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"Change Icon...", IDD_CHICON, 185, 47, 55, 14, WS_TABSTOP, WS_EX_LEFT
	AUTOCHECKBOX	"Use different working directory", IDD_WORKDIR, 14, 87, 111, 8, WS_TABSTOP, WS_EX_LEFT
	EDITTEXT		IDD_WORKPATH, 80, 99, 106, 14, WS_TABSTOP | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
	PUSHBUTTON		"Browse...", IDD_BROWSE2, 190, 99, 50, 14, WS_TABSTOP | WS_DISABLED, WS_EX_LEFT
	CONTROL			"", IDD_HOTKEY, HOTKEY_CLASS, WS_TABSTOP, 56, 117, 184, 14, WS_EX_LEFT
	PUSHBUTTON		"OK", IDD_OK, 145, 146, 50, 14, WS_TABSTOP, WS_EX_LEFT
	PUSHBUTTON		"Cancel", IDD_CANCEL, 199, 146, 50, 14, WS_TABSTOP, WS_EX_LEFT
	// The following controls shouldn't be directly interacted with.
	CONTROL			"", IDD_STAT_ICON, WC_STATIC, SS_ICON | SS_CENTERIMAGE, 202, 19, 21, 20, WS_EX_LEFT
	LTEXT			"Name:", 32, 16, 22, 22, 9, SS_LEFT, WS_EX_LEFT
	GROUPBOX		"Properties", 36, 7, 7, 162, 61, 0, WS_EX_LEFT
}
