/* * * * * * * *\
	DLG_EN-US.RC -
		Copyright (c) 2023 freedom7341, Freedom Desktop
	DESCRIPTION -
		This file contains the language-specific
		English dialogs for the Program Manager.
	LICENSE INFORMATION -
		MIT License, see LICENSE.txt in the root folder
\* * * * * * * */

