/* * * * * * * *\
	RES_EN-US.RC -
		Copyright (c) 2024 Vortesys, Brady McDermott
	LANGUAGE -
		English, US
	CREDITS -
		freedom7341
	DESCRIPTION -
		This file contains the language-specific
		resources for the Program Manager.
		** NO DEPENDENCIES **
	LICENSE INFORMATION -
		MIT License, see LICENSE.txt in the root folder
\* * * * * * * */

/* Necessary Evil */
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include "resource.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

/* Accelerator Table */
IDA_ACCELS ACCELERATORS
{
	"N", IDM_FILE_NEW, VIRTKEY, CONTROL
}

/* Menus and Commands */
// Main Menu
IDM_MAIN MENU
{
	POPUP			"&File"
	{
		POPUP		"&New"
		{
			MENUITEM	"Program &Group",	IDM_FILE_NEW_GROUP
			MENUITEM	"Program &Item",	IDM_FILE_NEW_ITEM
		}
		MENUITEM	SEPARATOR
		MENUITEM	"&Open",		IDM_FILE_OPEN
		MENUITEM	"&Move",		IDM_FILE_MOVE
		MENUITEM	"&Copy",		IDM_FILE_COPY
		MENUITEM	"&Delete",		IDM_FILE_DELETE
		MENUITEM	"&Properties",	IDM_FILE_PROPS
		MENUITEM	SEPARATOR
		MENUITEM	"&Run...",		IDM_FILE_RUN
		MENUITEM	SEPARATOR
		MENUITEM	"E&xit",		IDM_FILE_EXIT
	}
	POPUP			"&Options"
	{
		MENUITEM	"&Auto Arrange",			IDM_OPTIONS_AUTOARRANGE
		MENUITEM	"&Minimize on Use",			IDM_OPTIONS_MINONRUN
		MENUITEM	"Always &on Top",			IDM_OPTIONS_TOPMOST
		MENUITEM	"Show &Name on Titlebar",	IDM_OPTIONS_SHOWUSERNAME
		MENUITEM	"&Save Settings on Exit",	IDM_OPTIONS_SAVESETTINGS
		MENUITEM	SEPARATOR
		MENUITEM	"Save Settings &Now",		IDM_OPTIONS_SAVENOW
	}
	POPUP			"&Window"
	{
		MENUITEM	"&Cascade",				IDM_WINDOW_CASCADE
		MENUITEM	"&Tile Vertically",		IDM_WINDOW_TILE
		MENUITEM	"Tile &Horizontally",	IDM_WINDOW_TILEHORIZONTALLY
		MENUITEM	"&Arrange Icons",		IDM_WINDOW_ARRANGEICONS
	}
	POPUP			"&Help"
	{
		MENUITEM	"&View Internet Help",		IDM_HELP_INDEX
		MENUITEM	SEPARATOR
		MENUITEM	"&About Program Manager II",	IDM_HELP_ABOUT
	}
}

IDM_DESK MENU PRELOAD
{
	POPUP "Context Menu"
	{
		MENUITEM	"&View",				IDM_DESK_VIEW
		MENUITEM	"S&ort by",				IDM_DESK_SORT
		MENUITEM	"&Run Program",			IDM_FILE_RUN
		MENUITEM	"&Task Manager",		IDM_TASKMGR
		MENUITEM	SEPARATOR
		MENUITEM	"S&creen Resolution",	IDM_DESK_SCREENRES
		MENUITEM	"Pe&rsonalize",			IDM_DESK_PERSONALIZE
	}
}


// Context Menus
IDM_ITEM MENU PRELOAD // Program Item
{
	POPUP "Context Menu"
	{
		MENUITEM	"&Open",		IDM_FILE_OPEN
		MENUITEM	"&Move to",		IDM_FILE_MOVE
		MENUITEM	"&Copy to",		IDM_FILE_COPY
		MENUITEM	"&Delete",		IDM_FILE_DELETE
		MENUITEM	SEPARATOR
		MENUITEM	"&Properties",	IDM_FILE_PROPS
	}
}
IDM_GROUP MENU PRELOAD // Program Group
		{
	POPUP "Context Menu"
	{
		MENUITEM	"&New",			IDM_FILE_NEW
		// MENUITEM    "&Delete",		IDM_FILE_DELETE
		// MENUITEM    SEPARATOR
		// MENUITEM    "&Properties",	IDM_FILE_PROPS
	}
}

/* String Table */
STRINGTABLE
{
	// Application
#ifndef _DEBUG
	IDS_APPTITLE, "Program Manager II" // 64
#else
	IDS_APPTITLE, "Program Manager II [DEBUG]" // 64
#endif
	IDS_PMCLASS,		"progmgr" // 16
	IDS_DTCLASS,		"progman" // 16
	IDS_GRPCLASS,		"pmgroup" // 16
	IDS_WEBSITE,		"https://Vortesys.github.io/progmgr/" // 64

	// Menu commands
	IDS_RUN			"R&un..."
	IDS_TASKMGR		"&Task Manager"
	IDS_EXIT		"E&xit"
	IDS_SHUTDOWN	"S&hutdown..."

	// Dialog strings
	IDS_DLG_OK		"OK"
	IDS_DLG_CANCEL	"Cancel"
	IDS_DLG_BROWSE	"Browse..."

	// Icon section strings
	IDS_DLG_ICON	"Icon"
	IDS_DLG_CHICON	"Change Icon..."

	// Properties section strings
	IDS_DLG_PROPS		"Properties"
	IDS_DLG_NAME		"Name:"
	IDS_DLG_DIRECTORY	"Directory:"
	IDS_DLG_COMMGRP		"Create group for all users"

	// Advanced section strings
	IDS_DLG_ADVANCED	"Advanced"
	IDS_DLG_WORKDIR		"Use different working directory"
	IDS_DLG_HOTKEY		"Hotkey:"

	// Dialog title strings
	IDS_DLT_GRP_PROPS	"Group Properties" // 32
	IDS_DLT_GRP_NEW		"New Group" // 16
	IDS_DLT_ITEM_PROPS	"Item Properties" // 32
	IDS_DLT_ITEM_NEW	"New Item" // 16
	IDS_DLT_POWER		"Shut Down" // [Computer Name] 16 + 16
}
